Package: artwork-lookandfeel-neptune-classic
Version: 1.3
Architecture: all
Maintainer: Leszek Lesner <leszek@zevenos.com>
Installed-Size: 1515
Recommends: neptune-settings-plasma5-profile
Section: admin
Priority: optional
Description: Classic Look and Feel package for Neptune
  This package provides the classic neptune look and feel package.
